<ul>
  <li id='ref-1'>
    Kalmpourtzis, George. 2018. “Educational Game Design Fundamentals.”
    <a href='https://doi.org/10.1201/9781315208794' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-2'>
    Domínguez, A., J. Saenz-De-Navarrete, L. De-Marcos, L. Fernández-Sanz, C. Pagés, and J. Martínez-Herráiz. 2013. “Gamifying Learning Experiences: Practical Implications and Outcomes.” Computer & Education. Vol. 63.
    <a href='https://www.sciencedirect.com/science/article/abs/pii/S0360131513000031' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-3'>
    Cooksey, K. L., and P. Jonsson. 2022. “Using Pre-/Post-Quizzes Intentionally in Curriculum Development and Evaluation. ”Institution for Scientist & Engineer Educators."
    <a href='https://arxiv.org/pdf/2210.01823' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-4'>
    Stratton, S. J. 2019. “Quasi-Experimental Design (Pre-Test and Post-Test Studies) in Prehospital and Disaster Research.” Cambridge University Press.
    <a href='https://doi.org/10.1017/S1049023X19005053' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-5'>
    McKagan, S., E. Sayre, and A. Madsen. 2022. “Normalized Gain: What Is It and When and How Should I Use It?" PhysPort
    <a href='https://www.physport.org/recommendations/Entry.cfm?ID=93334'>Access Resource</a>
  </li>
  <li id='ref-6'>
    Brooke, J. 1995. “SUS: A Quick and Dirty Usability Scale."
    <a href='https://www.researchgate.net/publication/228593520_SUS_A_quick_and_dirty_usability_scale' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-7'>
    Bangor, A., P. Kortum, and J. Miller. 2009.“Determining What Individual SUS Scores Mean: Adding an Adjective Rating Scale.” Journal of Usability Studies.
    <a href='https://uxpajournal.org/wp-content/uploads/sites/7/pdf/JUS_Bangor_May2009.pdf' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-8'>
    Phan, M. H., J. R. Keebler, and B. S. Chaparro. 2016. “The Development and Validation of the Game User Experience Satisfaction Scale (GUESS).” Human Factors.
    <a href='https://journals.sagepub.com/doi/10.1177/0018720816669646' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-9'>
    Keebler, J. R., W. J. Shelstad, D. C. Smith, B. S. Chaparro, and M. H. Phan. 2020. “Validation of the GUESS-18: A Short Version of the Game User Experience Satisfaction Scale.” Journal of Usability Studies.
    <a href='https://dl.acm.org/doi/abs/10.5555/3532747.3532752' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-10'>
    Rabiee, F. 2004. “Focus-Group Interview and Data Analysis.” School of Health; Policy Studies, University of Central England.
    <a href='https://doi.org/10.1079/PNS2004399' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-11'>
    Wilkinson, S. 1998. “Focus Group Methodology: A Review.” International Journal of Social Research Methodology.
    <a href='https://www.tandfonline.com/doi/epdf/10.1080/13645579.1998.10846874' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-12'>
    Sauro, J. 2011. “A Practical Guide to Measuring Usability.”
    <a href='https://measuringu.com/wp-content/uploads/2017/05/QuantitativeUsabilityTestOnline.pdf' target='_blank'>Access Resource</a>
  </li>
  <li id='ref-13'>
    Sauro, J., and J. R. Lewis. 2016.“Quantifying the User Experience: Practical statistics for User Research."
    <a href='https://www.ndl.ethernet.edu.et/bitstream/123456789/30243/1/Jeff%20Sauro%2C2012.pdf' target='_blank'>Access Resource</a>
  </li>
</ul>