:root {}

.container {
  display: grid;
}

hr.divider {
  width: 100%;
  height: 1px;
  margin: 2em 0;
}

.section-wrapper {
  width: 90%;
  position: absolute;
  top: 25%;
  left: 5%
}

ol > li {
  padding: 0.5em;
}

ul.none {
  list-style: none;
}

ul.list-abc {
  list-style: lower-latin;
}

ul.flex-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

ol > li > ul > li {
  padding: 0.25em;
}

ol.ol-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bg-white-smoke {
  background-color: whitesmoke;
}

.white-shadow {
  box-shadow: 3px 3px 12px 4px rgba(255, 255, 255, 0.3);
}

.grey-shadow {
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.3);
}

/* Alternate shadows on dark theme */
.dark .white-shadow {
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.3);
}

.dark .grey-shadow {
  box-shadow: 3px 3px 12px 4px rgba(255, 255, 255, 0.3);
}

ul.none li {
  margin: 0em;
}

li.check::before {
  padding-right: 0.5em;
  content: '✅';
}

li.warn::before {
  padding-right: 0.5em;
  content: '⚠️';
}
